.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: left;
  justify-content:left;
  font-size: calc(10px + 2vmin);
  color: black;
}

h3 {
  margin-top: 1px;
}

ul {
  margin-top: -5px;
}